@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.bg-img{
    background:  url("https://images.pexels.com/photos/1797393/pexels-photo-1797393.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
}
.social-media{
    background-color: #211C5F;
    color:white;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 0 2rem;
}

.social-media ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-media a{
    color: white;
}
#navigation-bar{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding-top: 1.25rem;
   font-family: Arial, Helvetica, sans-serif;
}

#navigation-bar nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

#navigation-bar nav ul li{
    padding-right: 2rem;
}

#navigation-bar a{
    color: white;
    text-decoration: none;
}
h1, h2, h3{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.hero-index{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:5rem;
}

.hero-index h1{
    color: white;
    letter-spacing:1px;
    font-weight: lighter;
    font-size: 2.5rem;

}
.hero-index h2{
    color: orange;
    font-weight: 400;
    display: inline-block;
    margin-top: .25rem;

}
.call-to-action{
    display: inline-block;
    margin-top: 50px; 
    border:1px solid orange;
   padding: 1rem;
    background-color: orange;   
    color: white;
    text-decoration: none;
    border-radius: .25rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.sm-call-to-action{
    display: inline-block;
    border:1px solid orange;
    padding: .25rem;
    background-color: orange;   
    color: white;
    text-decoration: none;
    border-radius: .1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:.5rem;
}
#our-services{
    /* background-color: #252525;  */
    color: white;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding: 2rem;
}
#our-services div{
    text-align: center;
    padding: 1rem;
}
.our-sv-img{
    font-size: 5rem;
    display: inline-block;
    color: orange;
    text-align: center;
}
#search-property{
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
}
#form-search{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#form-search label{
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: lighter;
}
#form-search select{
    font-size: 1.2rem;
    padding: .4rem 1.5rem;
}
.featured-properties{
    margin: 3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.fp-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.featured-property{
    margin: 1.5rem 0 ;
    background-color: white;
    color: black;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .25rem;
}
.img-container{
    width: 200px;
}
.img-container img{
    width: 200px;
    height: 200px;
    border-radius: .25rem;
    object-fit: cover;
}
.articles{
    margin:3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.articles-text{
    width: 400px;
    padding: 1rem;
    background-color: #252525;
}
.articles-text span{
    color:orange;
}
.articles-text h2{
    margin: 1rem 0;
}
.articles-text p{
    line-height: 2rem;
}
.articles-img img{
    width: 600px;
    display: block;
}
.contact-section{
    background: url("https://images.pexels.com/photos/1797393/pexels-photo-1797393.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact-section form{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.contact-section form input, textarea{
    border-radius: .25rem;
    border: none;
    padding: .5rem;
}
.about-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
}
.about-article h2{
    padding: 2rem;
}
.about-article p{
    line-height: 2;
}
.form-el{
    display: flex;
    flex-direction: column;
    padding: .4rem;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: black;
}
footer div{
    margin-right: 2rem;   
}
footer li{
    list-style: none;
    padding-bottom: 10px;
}
footer h3{
    color: orange;
    margin-bottom: .5rem;
}
footer a{
    color:white;
    text-decoration: none;
    font-weight: lighter;
}
#navigation-bar a:hover, footer a:hover{
    color: orange;
}
.btn{
    display: none;
}
@media (max-width: 960px) {
    .btn{
        display: block;
        margin-right: auto;
    }
    #menu {
        list-style: none;
        padding: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    #menu.active {
        max-height: 600px;
    }
    .fp-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .img-container{
        width: 300px;
    }
    .img-container img{
        width: 300px;
        height: 300px;
        border-radius: .25rem;
        object-fit: cover;
    }
    .articles{
        margin:3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .articles-text{
        width: 300px;
        padding: 1rem;
        background-color: #252525;
    }
    .articles-img img{
        width: 300px;
        display: block;
    }
    #form-search{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .contact-section form{
        display: flex;
        flex-direction: column;
        width: auto;
    }
}

@media (max-width:600px) {
    .contact-section{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}