@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.bg-img{
    background:  url("https://images.pexels.com/photos/1797393/pexels-photo-1797393.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
}
.social-media{
    background-color: #2F2F2F;
    color:white;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 0 2rem;
}

.social-media ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-media a{
    color: white;
}
#navigation-bar{
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   position: relative;
}
#navigation-bar nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
}
#navigation-bar nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

#navigation-bar nav ul li{
    padding-right: 2rem;
}

#navigation-bar a{
    color: white;
    text-decoration: none;
}
h1, h2, h3{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.hero-index{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:7rem;
}

.hero-index h1{
    color: white;
    letter-spacing:1px;
    font-weight: lighter;
    font-size: 2.5rem;

}
.hero-index h2{
    color: #FF7518;
    font-weight: 400;
    display: inline-block;
    margin-top: .25rem;

}
.call-to-action{
    display: inline-block;
    margin-top: 50px; 
    border:1px solid #FF7518;
   padding: 1rem;
    background-color: #FF7518;   
    color: white;
    text-decoration: none;
    border-radius: .25rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.sm-call-to-action{
    display: inline-block;
    border:1px solid #FF7518;
    padding: .25rem;
    background-color: #FF7518;   
    color: white;
    text-decoration: none;
    border-radius: .1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:.5rem;
    margin-bottom: .5rem;
    cursor: pointer;
}
#our-services{
    background-color: #1B1B1B; 
    color: white;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding: 2rem;
}
#our-services div{
    text-align: center;
    padding: 1rem;
}
.our-sv-img{
    font-size: 5rem;
    display: inline-block;
    color: #FF7518;
    text-align: center;
}
#search-property{
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
}
#form-search{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#form-search label{
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: lighter;
}
#form-search select{
    font-size: 1.2rem;
    padding: .4rem 1.5rem;
}
.featured-properties{
    margin: 3rem 0;
    padding-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #1B1B1B;
}
.featured-properties h2{
    padding-top: 2rem;
}

.fp-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.featured-properties a{
    align-self: center;
}
.featured-property{
    margin: 1.5rem 0 ;
    background-color: white;
    color: black;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .25rem;
}
.img-container{
    width: 200px;
}
.img-container img{
    width: 200px;
    height: 200px;
    border-radius: .25rem;
    object-fit: cover;
}

/* Pop up div */
#popUp-property{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.popUp-details-container{
    background-color: white;
    color: black;
    max-width: 80%;
    max-height: 80%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    position: relative;
}
#close-btn{
    align-self: flex-end;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border: 1px solid #FF7518;
}
.details-property{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}
#popUp-prop-identifier{
    font-weight: bold;
    position: absolute;
    top: 2px;
    left: 2px;
}
 .detailsDiv1,.detailsDiv2{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.detailsDiv1 img{
    width: 100%;
}
.detailsDiv1 p{
    align-self: flex-start;
}
.price-container{
    padding-top: 1rem;
}
.detailsDiv2 h4{
    padding-bottom: 10px;
    padding-left: 10px;
    align-self: flex-start;
}
.detailsDiv2 p{
    text-align: justify;
    padding-left: 10px;
}
.detailsDiv2 a{
    width: 200px;
    align-self: center;
}

/* Articles */
.articles{
    margin:3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.articles-text{
    width: 400px;
    padding: 1rem;
    background-color: #252525;
}
.articles-text span{
    color:#FF7518;
}
.articles-text h2{
    margin: 1rem 0;
}
.articles-text p{
    line-height: 2rem;
}
.articles-img img{
    width: 600px;
    display: block;
}
.contact-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7rem;
}
.contact-section form{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.contact-section form input, textarea{
    border-radius: .25rem;
    border: none;
    padding: .5rem;
}
.about-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
}
.about-article h2{
    padding: 2rem;
}
.about-article p{
    line-height: 2;
}
.form-el{
    display: flex;
    flex-direction: column;
    padding: .4rem;
}
/* sendMessage */
.sendMessagePage{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.msgSuccess{
    width: 50%;
    padding: 50px;
    border: 1px solid greenyellow;
    background-color: rgba(173, 255, 47, 0.8);
    border-radius: .25rem;
    letter-spacing: 2px;
}
.msgFailed{
    width: 50%;
    padding: 50px;
    border: 1px solid lightcoral;
    border-radius: .25rem;
}
/* Footer */
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:top;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: black;
}
footer div{
    margin-right: 2rem;   
}
footer li{
    list-style: none;
    padding-bottom: 10px;
}
footer h3{
    color: #FF7518;
    margin-bottom: .5rem;
}
footer a{
    color:white;
    text-decoration: none;
    font-weight: lighter;
}
#navigation-bar a:hover, footer a:hover{
    color: #FF7518;
}
.btn{
    display: none;
}
.properties-section{
    padding-top: 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.price{
    font-weight: bold;
    color: #F54703;
}
@media (max-width: 960px) {
    .btn{
        display: block;
        background-color: transparent;
        border:2px solid white;
        color: white;
        border-radius: .25rem;
        width: 2rem;
        height: 2rem;
        position: absolute;
        right:2rem;
        top:2rem;
        z-index: 3;
    }
    #logo{
        position: absolute;
        left:2rem;
        top:0;
    }
    #menu {
        list-style: none;
        padding: 0;
        max-height: 0;
        width: 0;
        overflow: hidden;
    }
    #menu.active {
        max-height: 600px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        z-index: 2;
        
    }
    .fp-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .img-container{
        width: 300px;
    }
    .img-container img{
        width: 300px;
        height: 300px;
        border-radius: .25rem;
        object-fit: cover;
    }
    .articles{
        margin:3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .articles-text{
        width: 300px;
        padding: 1rem;
        background-color: #252525;
    }
    .articles-img img{
        width: 300px;
        display: block;
    }
    #form-search{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .contact-section form{
        display: flex;
        flex-direction: column;
        width: auto;
    }
}

@media (max-width:600px) {
    .contact-section{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .details-property{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    
    }
    .detailsDiv1,.detailsDiv2{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

}
.main_admin{
    width: 100%;
    min-height: 100vh;
    padding: 6rem;
}
.main_admin h1{
    color: #FF7518;
}
.admin_table{
    width: auto;
    height: auto;
    background-color: aliceblue;
    color: black;
    margin: auto;
    margin-top: 2rem;

}

.admin_table thead tr{
    height: 4rem;
    color: #fff;
    background-color: #1B1B1B;
    border-radius: 15px;
}
.admin_table img{
    width: 150px;
}
.adminBtn{
    padding: 1rem;
    text-decoration: none;
    border-radius: 15px;
    color: #1B1B1B;
}
.addBtn{
    background-color: cornflowerblue;

}
.modifyBtn{
    background-color: greenyellow;
}

.deleteBtn{
    background-color: salmon;
}
.admin-form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.admin-form div{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.admin-form button{
    width: 60%;
    align-self: center;
}

.admin-form input, select{
    height: 1.5rem;
}

.admin-form img{
    width: 50%;
    align-self: center;
}

.image-form-container{
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.go-back-btn{
    padding: 1rem;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 1px solid black;
    align-self: flex-end;
    text-decoration: none;
}
.admin-form .radio-div{
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.check-message{
    width: 350px;
    height: 250px;
    background-color: white;
    color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;  
    margin-top: 1rem;  
}
.check-success{
    border: 2px solid green;
}

.check-danger{
    border: 2px solid darkred;
}

.check-btn{
    align-self: flex-end;
}